<% include ./partials/header %>



<div class="container">
  <div class="col-md-9">
    <div class="thumbnail">
      <img class="img-responsive" src="<%= game.image %>" alt="game image">
      <div class="caption-full">
        <h4> <%= game.name%> </h4>
        <p> <%= game.description%> </p>
        <a class="btn btn-xs btn-warning" href="/games/<%= game._id%>/edit">Edit</a>
        <form id="gameDelete" action="/games/<%=game._id%>/?_method=DELETE" method="POST">
          <input class="btn btn-xs btn-danger" value="Delete" type="submit">
        </form>
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer %>
